@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-gNiw4CyV9A1_font-family: "Inter", sans-serif;
  --mixin-gNiw4CyV9A1_font-size: 16px;
  --mixin-gNiw4CyV9A1_font-weight: 400;
  --mixin-gNiw4CyV9A1_font-style: normal;
  --mixin-gNiw4CyV9A1_color: #535353;
  --mixin-gNiw4CyV9A1_text-align: left;
  --mixin-gNiw4CyV9A1_text-transform: none;
  --mixin-gNiw4CyV9A1_line-height: 1.5;
  --mixin-gNiw4CyV9A1_letter-spacing: normal;
  --mixin-gNiw4CyV9A1_white-space: pre-wrap;
  --mixin-gNiw4CyV9A1_user-select: text;
  --mixin-gNiw4CyV9A1_text-decoration-line: none;
  --mixin-gNiw4CyV9A1_text-overflow: clip;
  --mixin-u7Ee55f0_pP_color: #000000;
  --mixin-u7Ee55f0_pP_font-weight: 700;
  --mixin-u7Ee55f0_pP_font-size: 64px;
  --mixin-u7Ee55f0_pP_line-height: 1;
  --mixin-u7Ee55f0_pP_letter-spacing: -1px;
  --mixin-u7Ee55f0_pP_white-space: pre-wrap;
  --mixin-jW0iEd67z-H_color: #000000;
  --mixin-jW0iEd67z-H_font-size: 48px;
  --mixin-jW0iEd67z-H_font-weight: 700;
  --mixin-jW0iEd67z-H_letter-spacing: -0.5px;
  --mixin-jW0iEd67z-H_line-height: 1.1;
  --mixin-jW0iEd67z-H_white-space: pre-wrap;
  --mixin-NC4tfrgVrGA_color: #0070f3;
  --mixin-NC4tfrgVrGA_white-space: pre-wrap;
  --mixin-FD5GG-iam5k_color: #000000;
  --mixin-FD5GG-iam5k_font-size: 32px;
  --mixin-FD5GG-iam5k_font-weight: 600;
  --mixin-FD5GG-iam5k_line-height: 1.2;
  --mixin-FD5GG-iam5k_white-space: pre-wrap;
  --mixin-q4k2TM4oXQ0_color: #000000;
  --mixin-q4k2TM4oXQ0_font-size: 24px;
  --mixin-q4k2TM4oXQ0_font-weight: 600;
  --mixin-q4k2TM4oXQ0_line-height: 1.3;
  --mixin-q4k2TM4oXQ0_white-space: pre-wrap;
  --mixin-b1tATxrmih3_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-b1tATxrmih3_border-bottom-color: #dddddd;
  --mixin-b1tATxrmih3_border-bottom-style: solid;
  --mixin-b1tATxrmih3_border-bottom-width: 1px;
  --mixin-b1tATxrmih3_border-left-color: #dddddd;
  --mixin-b1tATxrmih3_border-left-style: solid;
  --mixin-b1tATxrmih3_border-left-width: 1px;
  --mixin-b1tATxrmih3_border-right-color: #dddddd;
  --mixin-b1tATxrmih3_border-right-style: solid;
  --mixin-b1tATxrmih3_border-right-width: 1px;
  --mixin-b1tATxrmih3_border-top-color: #dddddd;
  --mixin-b1tATxrmih3_border-top-style: solid;
  --mixin-b1tATxrmih3_border-top-width: 1px;
  --mixin-b1tATxrmih3_border-bottom-left-radius: 3px;
  --mixin-b1tATxrmih3_border-bottom-right-radius: 3px;
  --mixin-b1tATxrmih3_border-top-left-radius: 3px;
  --mixin-b1tATxrmih3_border-top-right-radius: 3px;
  --mixin-b1tATxrmih3_font-family: "Inconsolata";
  --mixin-b1tATxrmih3_padding-bottom: 1px;
  --mixin-b1tATxrmih3_padding-left: 4px;
  --mixin-b1tATxrmih3_padding-right: 4px;
  --mixin-b1tATxrmih3_padding-top: 1px;
  --mixin-b1tATxrmih3_white-space: pre-wrap;
  --mixin--63wBWNC96T_border-left-color: #dddddd;
  --mixin--63wBWNC96T_border-left-style: solid;
  --mixin--63wBWNC96T_border-left-width: 3px;
  --mixin--63wBWNC96T_color: #888888;
  --mixin--63wBWNC96T_padding-left: 10px;
  --mixin--63wBWNC96T_white-space: pre-wrap;
  --mixin-pq0Eji2avTC_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-pq0Eji2avTC_border-bottom-color: #dddddd;
  --mixin-pq0Eji2avTC_border-bottom-style: solid;
  --mixin-pq0Eji2avTC_border-bottom-width: 1px;
  --mixin-pq0Eji2avTC_border-left-color: #dddddd;
  --mixin-pq0Eji2avTC_border-left-style: solid;
  --mixin-pq0Eji2avTC_border-left-width: 1px;
  --mixin-pq0Eji2avTC_border-right-color: #dddddd;
  --mixin-pq0Eji2avTC_border-right-style: solid;
  --mixin-pq0Eji2avTC_border-right-width: 1px;
  --mixin-pq0Eji2avTC_border-top-color: #dddddd;
  --mixin-pq0Eji2avTC_border-top-style: solid;
  --mixin-pq0Eji2avTC_border-top-width: 1px;
  --mixin-pq0Eji2avTC_border-bottom-left-radius: 3px;
  --mixin-pq0Eji2avTC_border-bottom-right-radius: 3px;
  --mixin-pq0Eji2avTC_border-top-left-radius: 3px;
  --mixin-pq0Eji2avTC_border-top-right-radius: 3px;
  --mixin-pq0Eji2avTC_font-family: "Inconsolata";
  --mixin-pq0Eji2avTC_padding-bottom: 3px;
  --mixin-pq0Eji2avTC_padding-left: 6px;
  --mixin-pq0Eji2avTC_padding-right: 6px;
  --mixin-pq0Eji2avTC_padding-top: 3px;
  --mixin-pq0Eji2avTC_white-space: pre-wrap;
  --mixin-BW_yvgTK9mH_display: flex;
  --mixin-BW_yvgTK9mH_flex-direction: column;
  --mixin-BW_yvgTK9mH_align-items: stretch;
  --mixin-BW_yvgTK9mH_justify-content: flex-start;
  --mixin-BW_yvgTK9mH_list-style-position: outside;
  --mixin-BW_yvgTK9mH_padding-left: 40px;
  --mixin-BW_yvgTK9mH_position: relative;
  --mixin-BW_yvgTK9mH_list-style-type: disc;
  --mixin-BW_yvgTK9mH_white-space: pre-wrap;
  --mixin-g7zqWIrsdGs_display: flex;
  --mixin-g7zqWIrsdGs_flex-direction: column;
  --mixin-g7zqWIrsdGs_align-items: stretch;
  --mixin-g7zqWIrsdGs_justify-content: flex-start;
  --mixin-g7zqWIrsdGs_list-style-position: outside;
  --mixin-g7zqWIrsdGs_padding-left: 40px;
  --mixin-g7zqWIrsdGs_position: relative;
  --mixin-g7zqWIrsdGs_list-style-type: decimal;
  --mixin-g7zqWIrsdGs_white-space: pre-wrap;
  --mixin-Kpwb_X4rbTU_color: #000000;
  --mixin-Kpwb_X4rbTU_font-size: 20px;
  --mixin-Kpwb_X4rbTU_font-weight: 600;
  --mixin-Kpwb_X4rbTU_line-height: 1.5;
  --mixin-Kpwb_X4rbTU_white-space: pre-wrap;
  --mixin-0keitqooejo_color: #000000;
  --mixin-0keitqooejo_font-size: 16px;
  --mixin-0keitqooejo_font-weight: 600;
  --mixin-0keitqooejo_line-height: 1.5;
  --mixin-0keitqooejo_white-space: pre-wrap;
  --mixin-8ZdthKo8Zs8_color: #3291ff;
  --mixin-8ZdthKo8Zs8_white-space: pre-wrap;
  --mixin-FwL3qjcm8KM_white-space: pre-wrap;
  --mixin-J2enAeksZWx_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-gNiw4CyV9A1_font-family);
  font-size: var(--mixin-gNiw4CyV9A1_font-size);
  font-weight: var(--mixin-gNiw4CyV9A1_font-weight);
  font-style: var(--mixin-gNiw4CyV9A1_font-style);
  color: var(--mixin-gNiw4CyV9A1_color);
  text-align: var(--mixin-gNiw4CyV9A1_text-align);
  text-transform: var(--mixin-gNiw4CyV9A1_text-transform);
  line-height: var(--mixin-gNiw4CyV9A1_line-height);
  letter-spacing: var(--mixin-gNiw4CyV9A1_letter-spacing);
  white-space: var(--mixin-gNiw4CyV9A1_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-u7Ee55f0_pP_color);
  font-weight: var(--mixin-u7Ee55f0_pP_font-weight);
  font-size: var(--mixin-u7Ee55f0_pP_font-size);
  line-height: var(--mixin-u7Ee55f0_pP_line-height);
  letter-spacing: var(--mixin-u7Ee55f0_pP_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-jW0iEd67z-H_color);
  font-size: var(--mixin-jW0iEd67z-H_font-size);
  font-weight: var(--mixin-jW0iEd67z-H_font-weight);
  letter-spacing: var(--mixin-jW0iEd67z-H_letter-spacing);
  line-height: var(--mixin-jW0iEd67z-H_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-NC4tfrgVrGA_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-FD5GG-iam5k_color);
  font-size: var(--mixin-FD5GG-iam5k_font-size);
  font-weight: var(--mixin-FD5GG-iam5k_font-weight);
  line-height: var(--mixin-FD5GG-iam5k_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-q4k2TM4oXQ0_color);
  font-size: var(--mixin-q4k2TM4oXQ0_font-size);
  font-weight: var(--mixin-q4k2TM4oXQ0_font-weight);
  line-height: var(--mixin-q4k2TM4oXQ0_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-b1tATxrmih3_font-family);
  border-radius: var(--mixin-b1tATxrmih3_border-top-left-radius)
    var(--mixin-b1tATxrmih3_border-top-right-radius)
    var(--mixin-b1tATxrmih3_border-bottom-right-radius)
    var(--mixin-b1tATxrmih3_border-bottom-left-radius);
  padding: var(--mixin-b1tATxrmih3_padding-top)
    var(--mixin-b1tATxrmih3_padding-right)
    var(--mixin-b1tATxrmih3_padding-bottom)
    var(--mixin-b1tATxrmih3_padding-left);
  border-top: var(--mixin-b1tATxrmih3_border-top-width)
    var(--mixin-b1tATxrmih3_border-top-style)
    var(--mixin-b1tATxrmih3_border-top-color);
  border-right: var(--mixin-b1tATxrmih3_border-right-width)
    var(--mixin-b1tATxrmih3_border-right-style)
    var(--mixin-b1tATxrmih3_border-right-color);
  border-bottom: var(--mixin-b1tATxrmih3_border-bottom-width)
    var(--mixin-b1tATxrmih3_border-bottom-style)
    var(--mixin-b1tATxrmih3_border-bottom-color);
  border-left: var(--mixin-b1tATxrmih3_border-left-width)
    var(--mixin-b1tATxrmih3_border-left-style)
    var(--mixin-b1tATxrmih3_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin--63wBWNC96T_color);
  padding-left: var(--mixin--63wBWNC96T_padding-left);
  border-left: var(--mixin--63wBWNC96T_border-left-width)
    var(--mixin--63wBWNC96T_border-left-style)
    var(--mixin--63wBWNC96T_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-pq0Eji2avTC_font-family);
  border-radius: var(--mixin-pq0Eji2avTC_border-top-left-radius)
    var(--mixin-pq0Eji2avTC_border-top-right-radius)
    var(--mixin-pq0Eji2avTC_border-bottom-right-radius)
    var(--mixin-pq0Eji2avTC_border-bottom-left-radius);
  padding: var(--mixin-pq0Eji2avTC_padding-top)
    var(--mixin-pq0Eji2avTC_padding-right)
    var(--mixin-pq0Eji2avTC_padding-bottom)
    var(--mixin-pq0Eji2avTC_padding-left);
  border-top: var(--mixin-pq0Eji2avTC_border-top-width)
    var(--mixin-pq0Eji2avTC_border-top-style)
    var(--mixin-pq0Eji2avTC_border-top-color);
  border-right: var(--mixin-pq0Eji2avTC_border-right-width)
    var(--mixin-pq0Eji2avTC_border-right-style)
    var(--mixin-pq0Eji2avTC_border-right-color);
  border-bottom: var(--mixin-pq0Eji2avTC_border-bottom-width)
    var(--mixin-pq0Eji2avTC_border-bottom-style)
    var(--mixin-pq0Eji2avTC_border-bottom-color);
  border-left: var(--mixin-pq0Eji2avTC_border-left-width)
    var(--mixin-pq0Eji2avTC_border-left-style)
    var(--mixin-pq0Eji2avTC_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-BW_yvgTK9mH_display);
  flex-direction: var(--mixin-BW_yvgTK9mH_flex-direction);
  align-items: var(--mixin-BW_yvgTK9mH_align-items);
  justify-content: var(--mixin-BW_yvgTK9mH_justify-content);
  list-style-position: var(--mixin-BW_yvgTK9mH_list-style-position);
  padding-left: var(--mixin-BW_yvgTK9mH_padding-left);
  position: var(--mixin-BW_yvgTK9mH_position);
  list-style-type: var(--mixin-BW_yvgTK9mH_list-style-type);
  flex-column-gap: var(--mixin-BW_yvgTK9mH_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-g7zqWIrsdGs_display);
  flex-direction: var(--mixin-g7zqWIrsdGs_flex-direction);
  align-items: var(--mixin-g7zqWIrsdGs_align-items);
  justify-content: var(--mixin-g7zqWIrsdGs_justify-content);
  list-style-position: var(--mixin-g7zqWIrsdGs_list-style-position);
  padding-left: var(--mixin-g7zqWIrsdGs_padding-left);
  position: var(--mixin-g7zqWIrsdGs_position);
  list-style-type: var(--mixin-g7zqWIrsdGs_list-style-type);
  flex-column-gap: var(--mixin-g7zqWIrsdGs_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-Kpwb_X4rbTU_color);
  font-size: var(--mixin-Kpwb_X4rbTU_font-size);
  font-weight: var(--mixin-Kpwb_X4rbTU_font-weight);
  line-height: var(--mixin-Kpwb_X4rbTU_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-0keitqooejo_color);
  font-size: var(--mixin-0keitqooejo_font-size);
  font-weight: var(--mixin-0keitqooejo_font-weight);
  line-height: var(--mixin-0keitqooejo_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-8ZdthKo8Zs8_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
